= form_for @kifu_document, :url => {:action => @action} do |f|
  - if @kifu_document.errors.any?
    #error_explanation
      %h3 エラーが検出されました:
      %ul
        - @kifu_document.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td.form= f.label :title
      %td.form= f.text_field :title
    %tr
      %td.form= f.label :uploaded_by
      %td.form= f.text_field :uploaded_by
    %tr
      %td{"colspan" => "2"}
        %br
        %hr
        %br
    %tr
      %td.form_center{"colspan" => "2"}= f.label(:kifu) + "をここに貼り付けてください"
    %tr
      %td.form{"colspan" => "2"}= f.text_area :kifu, :rows => 10
    %tr
      %td{"colspan" => "2"}
        %br
        %hr
        %br
    %tr
      %td.form_center{"colspan" => "2"}= f.label :note
    %tr
      %td.form{"colspan" => "2"}= f.text_area :note, :rows => 10
    %tr
      %td.form{"colspan" => "2"}= f.submit nil, :confirm => "この内容でよろしいですか？"
