%p.notice= notice if notice

%h2 投稿された棋譜

%p= link_to '投稿する！', new_kifu_document_path

%br

- if @kifu_documents.blank?
  %p 投稿棋譜はありません。
- else
  %table
    %tr
      %th 投稿日時
      %th タイトル
      %th 戦型情報
      %th マージされた回数
      %th 投稿者
      %th
      %th
      %th

    - @kifu_documents.each do |kifu_document|
      %tr
        %td= distance_of_time_in_words(Time.now, kifu_document.updated_at) + "前"
        %td= kifu_document.title
        %td= kifu_document.categories
        %td
        %td= kifu_document.uploaded_by
        %td= link_to '見る', kifu_document
        %td= link_to '編集', edit_kifu_document_path(kifu_document)
        %td= link_to '破棄', kifu_document, :confirm => '本当に破棄しますか？', :method => :delete

%br
