%p#notice= notice if notice

%h2 投稿された棋譜

= form_tag(search_path, :method => :get) do
  = text_field_tag :query, params[:query]
  = submit_tag "検索"

%p= link_to '投稿する！', new_kifu_document_path

%br

%div#kifu_documents
  - logger.debug @kifu_documents.class
  - if not @kifu_documents
    %p 投稿棋譜はありません。
  - else
    = render 'kifu_documents/kifu_documents'
= render 'kifu_documents/more'
