%p#notice= notice

%h2= @kifu_document.title
%p
  投稿日時:
  = l @kifu_document.created_at
  by
  %strong= @kifu_document.uploaded_by
%p
  マージされた回数:
  = @kifu_document.merged_kifu_documents.count
  回
%p
  コメント数:
  = @kifu_document.comments.count
%p
  戦型:
  - @kifu_document.forms.each do |form|
    = "【" + link_to(form.name, form_path(form)) + "】"

%center
  %hr
  %br
  = render "kifu"
  %br
  %br
  %hr

%table{:width => "100%"}
  %tr
    %td
      = link_to "ダウンロード", download_kifu_document_path(@kifu_document)
      %br
      = link_to "ダウンロード（オリジナル）", download_original_kifu_document_path(@kifu_document)
    %td
      = link_to "マージ", merge_kifu_document_path(@kifu_document)

%h3 コメント


%p
  %b Categories:
  = @kifu_document.categories

= link_to 'Edit', edit_kifu_document_path(@kifu_document)
\|
= link_to 'モドル', kifu_documents_path
