%p#notice= notice

%h2= link_to @kifu_document.title, kifu_document_path(@kifu_document)
%p
  %table{:width => "100%"}
    %tr
      %td
        投稿日時:
        = l @kifu_document.created_at
        by
        %strong= @kifu_document.uploaded_by
        %br
        コメント数:
        = @kifu_document.comments.count
        %br
        所属棋譜:
        - if @kifu_document.parent.blank?
          %font{:color => "red"} 注意！ 基本の棋譜です。この棋譜を削除すると、マージされた棋譜がすべて消えます。
        - else
          = raw link_to @kifu_document.parent.title, @kifu_document.parent if not @kifu_document.parent.blank?
      %td{:style => "text-align:right;"}
        - if session[:user].kifu_document_ids.has_key? @kifu_document.id
          = raw "[" + link_to("編集", edit_kifu_document_path(@kifu_document)) + "]"
          = raw "[" + link_to("削除", kifu_document_path(@kifu_document), :method => :delete, :confirm => "破棄しますか？") + "]"
    %tr
      %td 投稿者からのひとこと:
      %td{:style => "text-align:left;"}
        - if @kifu_document.note.blank?
          特になし
        - else
          = @kifu_document.note

  %br
  戦型:
  - if @kifu_document.forms.blank?
    %font{:color => "red"} 未指定
  - else
    - @kifu_document.forms.each do |form|
      = raw "【" + link_to(form.name, form_path(form)) + "】"
  = link_to "追加", toggle_form_visible_path, :remote => true, :id => "form_inout"

  %div#form_form
    = form_for(@form) do |f|
      - if @form.errors.any?
        #error_explanation
          %h3 エラーが検出されました:
          %ul
            - @form.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :kifu_document_id, :value => @kifu_document.id
      = f.text_field :name, :size => 5
      = f.submit "戦型追加"
      %font{:color => "red"} ※戦型はひとつずつ指定してください。
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br

%center
  %hr
  %br
  = render :partial => "kifu_documents/kifu"
  %br
  %br
  %hr

%table{:width => "100%"}
  %tr
    %td
      = link_to "ダウンロード", download_kifu_document_path(@kifu_document)
      %br
      = link_to "ダウンロード（オリジナル）", download_original_kifu_document_path(@kifu_document)
      %br
      = link_to 'モドル', kifu_documents_path
    %td
      = link_to "マージ", merge_form_kifu_document_path(@kifu_document)
      %br
      = link_to "ブログに貼り付ける", blogcode_path(@kifu_document), :remote => true, :id => "blogcode_inout"

%div#blogcode{:style => "display: none;"}
  %h3 ブログペースト用コード
  %p
    以下のコードをブログに貼り付けると、この棋譜を再生することができます。
    %p#code{:style => "border: 1px solid green; font-family: 'Courier New', Courier, monospace"}
      = render "kifu_documents/kifu"
      %br
      この棋譜へのコメントは「
      %a{:href => kifu_document_path(@kifu_document)}こちら
      」までどうぞ。

%h3 コメント

= form_for (@comment) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h3 エラーが検出されました:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :kifu_document_id, :value => @kifu_document.id
  %table
    %tr
      %td
        = f.label :name
      %td{:colspan => "3"}
        = f.text_field :name, :size => 5
        = f.label :tesuu
        = collection_select :comment, :tesuu, tesuu_collection(@kifu_document), :first, :last
    %tr
      %td
        = f.label :message
      %td
        = f.text_field :message, :size => 50
      %td
        = f.submit "コメント"

%hr{:style => "margin-top: 10px; margin-bottom: 10px;"}

%div#comments
  = render "kifu_documents/comments"
= render "kifu_documents/more_comments"

= render 'kifu_documents/autocomplete'
%script{:type => "text/javascript"}
  $('form_form').visualEffect('blindUp', {duration:0.0});
  $('code').innerHTML = $('code').innerHTML.escapeHTML();