%p#notice= notice

%h2= link_to @kifu_document.title, kifu_document_path(@kifu_document)
%p
  %table{:width => "100%"}
    %tr
      %td
        投稿日時:
        = l @kifu_document.created_at
        by
        %strong= @kifu_document.uploaded_by
        %br
        コメント数:
        = @kifu_document.comments.count
        %br
        元の棋譜:
        = raw link_to @kifu_document.kifu_document.title, @kifu_document.kifu_document if not @kifu_document.kifu_document.blank?
      %td{:style => "text-align:right;"}
        - if session[:user].kifu_document_ids.has_key? @kifu_document.id
          = raw "[" + link_to("編集", edit_kifu_document_path(@kifu_document)) + "]"
          = raw "[" + link_to("削除", kifu_document_path(@kifu_document), :method => :delete, :confirm => "破棄しますか？") + "]"
    %tr
      %td 投稿者からのひとこと:
      %td{:style => "text-align:left;"}
        - if @kifu_document.note.blank?
          特になし
        - else
          = @kifu_document.note

  %br
  戦型:
  - if @kifu_document.forms.blank?
    %font{:color => "red"} 未指定
  - else
    - @kifu_document.forms.each do |form|
      = raw "【" + link_to(form.name, form_path(form)) + "】"
  = link_to "追加", toggle_form_visible_path, :remote => true, :id => "form_inout"

  %div#form_form
    = form_for(@form) do |f|
      - if @form.errors.any?
        #error_explanation
          %h3 エラーが検出されました:
          %ul
            - @form.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :kifu_document_id, :value => @kifu_document.id
      = f.text_field :name, :size => 5
      = f.submit "戦型追加"
      %font{:color => "red"} ※戦型はひとつずつ指定してください。
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br

%center
  %hr
  %br
  = render :partial => "kifu_documents/kifu"
  %br
  %br
  %hr

%table{:width => "100%"}
  %tr
    %td
      = link_to "ダウンロード", download_kifu_document_path(@kifu_document)
      %br
      = link_to "ダウンロード（オリジナル）", download_original_kifu_document_path(@kifu_document)
      %br
      = link_to 'モドル', kifu_documents_path
    %td
      = link_to "マージ", merge_kifu_document_path(@kifu_document)

%h3 コメント
%div#comments
  = render "kifu_documents/comments"
= render "kifu_documents/more_comments"

= form_for (@comment) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h3 エラーが検出されました:
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :kifu_document_id, :value => @kifu_document.id
  = f.label :name
  = f.text_field :name, :size => 5
  = f.label :message
  = f.text_field :message
  = f.submit "コメント"

= render 'kifu_documents/autocomplete'
%script{:type => "text/javascript"}
  $('form_form').visualEffect('blindUp', {duration:0.0});
