<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>
  棋譜こめったー<%= ": #{@page_title}" if @page_title %>
</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<!-- base layout css.design sample -->
</head>
<body>
<div id="wrapper">
<div id="header">
<div id="header-inner">
<!-- キーワード -->
<h1>他人の棋譜にいちゃもんつける</h1>
<!-- ページの概要 -->
<p class="description">棋譜を投稿するのはもちろん、棋譜にどんどんコメントを追加したりできます</p>
<!-- 企業名｜ショップ名｜タイトル -->
<p class="logo"><%= link_to "棋譜こめったー Ver0.0.1", kifu_documents_path %></a></p>
</div></div>
<!-- // header end -->

<div id="container">
<div id="contents">
<!-- コンテンツここから -->

<%= yield %>

<!-- コンテンツここまで -->
</div><!-- // contents end -->

<div id="left-sidebar">
<!-- 左サイドバーここから -->

<p class="side-title">*** タイトル ***</p>
<ul class="localnavi">
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
</ul>
<p class="side-title">*** タイトル ***</p>
<ul class="localnavi">
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
<li><a href="#">*** リンク ***</a></li>
</ul>

<!-- 左サイドバーここまで -->
</div>
<!-- // left-sidebar end -->
</div>

<div id="right-sidebar">
<!-- 右サイドバーここから -->

<p class="side-title">最新の投稿</p>
<% if @kifudocs.blank? -%>
<p>まだありません。</p>
<% else -%>
<% @kifudocs.each do |kifudoc| -%>
  <p><%= kifudoc.title %> - <%= kifudoc.uploaded_by %> (<%= distance_of_time_in_words Time.now, kifudoc.updated_at %>前)</p>
<% end -%>
<% end -%>

<!-- 右サイドバーここまで -->
</div>
<!-- // right-sidebar end -->
<!-- CSSデザインサンプル著作権表示 削除不可-->
<p id="cds">Designed by <a href="http://www.css-designsample.com/">CSS.Design Sample</a></p>
<div id="footer">
<!-- コピーライト / 著作権表示 -->
<p>Copyright &copy; <a href="mailto:sandmark.M@gmail.com" style="color:#f0f0f0">棋譜こめったーの人</a>, All Rights Reserved.</p>
</div>
</div>
</body>
</html>
